.flashy{
  font-style: italic;
  color: red;
}

.best{
  color: rgb(34, 97, 139);
  font: outline;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

